/* cuando pongo el nombre de la etiqueta es por que todas las etiquetas del html se veran igual*/
body{
    display: flex; /* Aquí es para que puedas usar el justify-content y align-items, sin el flex no jalan*/
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif; /* Tipo de letra*/
    background-color: #D6D6D6; /* color del componente, no de la letra*/
}
h1{
    color: white; /*este si es el color de la letras*/
}
.encabezado{/* cuando usas class va un punto y el nombre de la clase que pusiste*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C2F85;
    width: 100%; /*width y height son de tamaño, uno es para alto y el otro para largo, investiga cual es cual*/
    height: 70px;
    margin-bottom: 20px; /*aqui pones el espacio para elementos, usas margin, ya dependiendo el lado cambias el complemento*/
    margin-top: 20px;
}
#recursos-login{ /* Aquí es cuando pones id, funciona igual que el class pero pones # en lugar de un punto*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 8px;
    height: 550px;
    width: 1500px;
    border-radius: 10px; /* para dar una forma menos cuadrada*/
    overflow: hidden;   /*colocalo en dado caso que no lo aplique a los 4 lados*/ 
    background-color: white;

}
.user{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
#formulario-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.campo{
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #2C2F85;
    border-color: #2C2F85;
}
::placeholder{
    color: white;
}
#boton-login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 40px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2E7D32;
    border-color: #2E7D32;
}
#olvidaste-tu-contraseña{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: black;

}
#crear-cuenta{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 25px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C2F85;
    border-color: #2C2F85;
}
.texto-crear-cuenta{
    color: white;
}